0180-RequestBroker/src/com/rift/coad/request/webservice/RequestBrokerManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.rift.coad.request.webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.rift.coad.request.webservice" xmlns:intf="com.rift.coad.request.webservice" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="com.rift.coad.request.webservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RequestBrokerException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="cause" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="removeRequestRequest">

      <wsdl:part name="requestId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listRequestsRequest">

   </wsdl:message>

   <wsdl:message name="removeRequestResponse">

   </wsdl:message>

   <wsdl:message name="getRequestInfoAsXMLRequest">

      <wsdl:part name="requestId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listRequestsResponse">

      <wsdl:part name="listRequestsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="RequestBrokerException">

      <wsdl:part name="fault" type="impl:RequestBrokerException"/>

   </wsdl:message>

   <wsdl:message name="getRequestInfoAsXMLResponse">

      <wsdl:part name="getRequestInfoAsXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createRequestFromXMLRequest">

      <wsdl:part name="requestId" type="xsd:string"/>

      <wsdl:part name="requestXML" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getRequestAsXMLResponse">

      <wsdl:part name="getRequestAsXMLReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getRequestAsXMLRequest">

      <wsdl:part name="requestId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createRequestFromXMLResponse">

   </wsdl:message>

   <wsdl:portType name="RequestBrokerManager">

      <wsdl:operation name="createRequestFromXML" parameterOrder="requestId requestXML">

         <wsdl:input message="impl:createRequestFromXMLRequest" name="createRequestFromXMLRequest"/>

         <wsdl:output message="impl:createRequestFromXMLResponse" name="createRequestFromXMLResponse"/>

         <wsdl:fault message="impl:RequestBrokerException" name="RequestBrokerException"/>

      </wsdl:operation>

      <wsdl:operation name="listRequests">

         <wsdl:input message="impl:listRequestsRequest" name="listRequestsRequest"/>

         <wsdl:output message="impl:listRequestsResponse" name="listRequestsResponse"/>

         <wsdl:fault message="impl:RequestBrokerException" name="RequestBrokerException"/>

      </wsdl:operation>

      <wsdl:operation name="getRequestAsXML" parameterOrder="requestId">

         <wsdl:input message="impl:getRequestAsXMLRequest" name="getRequestAsXMLRequest"/>

         <wsdl:output message="impl:getRequestAsXMLResponse" name="getRequestAsXMLResponse"/>

         <wsdl:fault message="impl:RequestBrokerException" name="RequestBrokerException"/>

      </wsdl:operation>

      <wsdl:operation name="getRequestInfoAsXML" parameterOrder="requestId">

         <wsdl:input message="impl:getRequestInfoAsXMLRequest" name="getRequestInfoAsXMLRequest"/>

         <wsdl:output message="impl:getRequestInfoAsXMLResponse" name="getRequestInfoAsXMLResponse"/>

         <wsdl:fault message="impl:RequestBrokerException" name="RequestBrokerException"/>

      </wsdl:operation>

      <wsdl:operation name="removeRequest" parameterOrder="requestId">

         <wsdl:input message="impl:removeRequestRequest" name="removeRequestRequest"/>

         <wsdl:output message="impl:removeRequestResponse" name="removeRequestResponse"/>

         <wsdl:fault message="impl:RequestBrokerException" name="RequestBrokerException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ManagementSoapBinding" type="impl:RequestBrokerManager">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createRequestFromXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createRequestFromXMLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createRequestFromXMLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RequestBrokerException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RequestBrokerException" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listRequests">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listRequestsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listRequestsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RequestBrokerException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RequestBrokerException" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getRequestAsXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRequestAsXMLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRequestAsXMLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RequestBrokerException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RequestBrokerException" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getRequestInfoAsXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRequestInfoAsXMLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRequestInfoAsXMLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RequestBrokerException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RequestBrokerException" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeRequest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeRequestRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeRequestResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RequestBrokerException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RequestBrokerException" namespace="com.rift.coad.request.webservice" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RequestBrokerManagerService">

      <wsdl:port binding="impl:ManagementSoapBinding" name="Management">

         <wsdlsoap:address location="http://localhost:8080/request/Management"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
