daemon/0200-OntologyRepository/src/com/rift/coad/ontology/webservice/RepositoryManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.rift.coad.ontology.webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.rift.coad.ontology.webservice" xmlns:intf="com.rift.coad.ontology.webservice" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="com.rift.coad.ontology.webservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RepositoryException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="cause" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="RepositoryException">

      <wsdl:part name="fault" type="impl:RepositoryException"/>

   </wsdl:message>

   <wsdl:message name="updateOntologyResponse">

   </wsdl:message>

   <wsdl:message name="updateOntologyRequest">

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="contents" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addOntologyRequest">

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="contents" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deleteOntologyResponse">

   </wsdl:message>

   <wsdl:message name="deleteOntologyRequest">

      <wsdl:part name="name" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addOntologyResponse">

   </wsdl:message>

   <wsdl:portType name="RepositoryManager">

      <wsdl:operation name="addOntology" parameterOrder="name contents">

         <wsdl:input message="impl:addOntologyRequest" name="addOntologyRequest"/>

         <wsdl:output message="impl:addOntologyResponse" name="addOntologyResponse"/>

         <wsdl:fault message="impl:RepositoryException" name="RepositoryException"/>

      </wsdl:operation>

      <wsdl:operation name="updateOntology" parameterOrder="name contents">

         <wsdl:input message="impl:updateOntologyRequest" name="updateOntologyRequest"/>

         <wsdl:output message="impl:updateOntologyResponse" name="updateOntologyResponse"/>

         <wsdl:fault message="impl:RepositoryException" name="RepositoryException"/>

      </wsdl:operation>

      <wsdl:operation name="deleteOntology" parameterOrder="name">

         <wsdl:input message="impl:deleteOntologyRequest" name="deleteOntologyRequest"/>

         <wsdl:output message="impl:deleteOntologyResponse" name="deleteOntologyResponse"/>

         <wsdl:fault message="impl:RepositoryException" name="RepositoryException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ManagerSoapBinding" type="impl:RepositoryManager">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addOntology">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addOntologyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.ontology.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addOntologyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.ontology.webservice" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RepositoryException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RepositoryException" namespace="com.rift.coad.ontology.webservice" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="updateOntology">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateOntologyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.ontology.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="updateOntologyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.ontology.webservice" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RepositoryException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RepositoryException" namespace="com.rift.coad.ontology.webservice" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteOntology">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteOntologyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.ontology.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteOntologyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.ontology.webservice" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RepositoryException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RepositoryException" namespace="com.rift.coad.ontology.webservice" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RepositoryManagerService">

      <wsdl:port binding="impl:ManagerSoapBinding" name="Manager">

         <wsdlsoap:address location="http://localhost:8080/ontology/Manager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
