0102-RSSReader/src/com/rift/coad/daemon/rss/webservice/RSSClientManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.rift.coad.daemon.rss.webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.rift.coad.daemon.rss.webservice" xmlns:intf="com.rift.coad.daemon.rss.webservice" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="com.rift.coad.daemon.rss.webservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Feed">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="application" nillable="true" type="xsd:string"/>
     <element name="url" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfFeed">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:Feed[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="RSSClientException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="cause" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="removeFeedRequest">

      <wsdl:part name="name" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addFeedRequest">

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="application" type="xsd:string"/>

      <wsdl:part name="url" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getNameResponse">

      <wsdl:part name="getNameReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDescriptionResponse">

      <wsdl:part name="getDescriptionReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDescriptionRequest">

   </wsdl:message>

   <wsdl:message name="listFeedsRequest">

   </wsdl:message>

   <wsdl:message name="removeFeedResponse">

   </wsdl:message>

   <wsdl:message name="getVersionResponse">

      <wsdl:part name="getVersionReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getNameRequest">

   </wsdl:message>

   <wsdl:message name="listFeedsResponse">

      <wsdl:part name="listFeedsReturn" type="impl:ArrayOfFeed"/>

   </wsdl:message>

   <wsdl:message name="getVersionRequest">

   </wsdl:message>

   <wsdl:message name="RSSClientException">

      <wsdl:part name="fault" type="impl:RSSClientException"/>

   </wsdl:message>

   <wsdl:message name="addFeedResponse">

   </wsdl:message>

   <wsdl:portType name="RSSClientManagement">

      <wsdl:operation name="listFeeds">

         <wsdl:input message="impl:listFeedsRequest" name="listFeedsRequest"/>

         <wsdl:output message="impl:listFeedsResponse" name="listFeedsResponse"/>

         <wsdl:fault message="impl:RSSClientException" name="RSSClientException"/>

      </wsdl:operation>

      <wsdl:operation name="addFeed" parameterOrder="name application url">

         <wsdl:input message="impl:addFeedRequest" name="addFeedRequest"/>

         <wsdl:output message="impl:addFeedResponse" name="addFeedResponse"/>

         <wsdl:fault message="impl:RSSClientException" name="RSSClientException"/>

      </wsdl:operation>

      <wsdl:operation name="removeFeed" parameterOrder="name">

         <wsdl:input message="impl:removeFeedRequest" name="removeFeedRequest"/>

         <wsdl:output message="impl:removeFeedResponse" name="removeFeedResponse"/>

         <wsdl:fault message="impl:RSSClientException" name="RSSClientException"/>

      </wsdl:operation>

      <wsdl:operation name="getName">

         <wsdl:input message="impl:getNameRequest" name="getNameRequest"/>

         <wsdl:output message="impl:getNameResponse" name="getNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getVersion">

         <wsdl:input message="impl:getVersionRequest" name="getVersionRequest"/>

         <wsdl:output message="impl:getVersionResponse" name="getVersionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDescription">

         <wsdl:input message="impl:getDescriptionRequest" name="getDescriptionRequest"/>

         <wsdl:output message="impl:getDescriptionResponse" name="getDescriptionResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ManagementSoapBinding" type="impl:RSSClientManagement">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listFeeds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listFeedsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listFeedsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RSSClientException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RSSClientException" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addFeed">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addFeedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addFeedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RSSClientException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RSSClientException" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeFeed">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeFeedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeFeedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RSSClientException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RSSClientException" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVersionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getVersionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDescriptionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDescriptionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.rift.coad.daemon.rss.webservice" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RSSClientManagementService">

      <wsdl:port binding="impl:ManagementSoapBinding" name="Management">

         <wsdlsoap:address location="http://localhost:8080/event/Management"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
